/* Sticky footer styles
-------------------------------------------------- */

.fullwidth {
	width: 100%;
}

#footer {

}

#footer .f-right {
	margin-left: 40px;
}

#footer .f-right {
	position: relative;
	float: right;
	top: -30px;
	font-size: 13px;
}